header {
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  /* line-height: 80px; */
}
.header-box{
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 80px;
}
.header-item{
    /* border: 1px solid red; */
}
#header-item-cat{
  display: flex;
  flex-grow: 3;
  justify-content: space-around
}
#header-item-logo{
  flex-grow: 1;
}
#header-item-search{
  flex-grow: 3;
}
#header-item-option{
  display: flex;
  flex-grow: 2;
  justify-content: space-around
}

