@import-normalize; /* bring in normalize.css styles */

a{
  text-decoration: none;
}
.float-right{
  float: right;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {  
  font-size: large;
}
.app-header-box {
  min-height: 120px;
}

.app-shopping-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.app-data-box{
  display: flex;
  align-items: flex-start;
}
.app-shopping-filters{
  min-width: 300px;
  border: 1px solid red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.filters{
  border-top: 1px solid gray; 
}